# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/

# Visual Studio cache/options directory
.vs/

# MSTest test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit test results
*.VisualState.xml
TestResult.xml
nunit-*.xml

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Files built by Visual Studio
*.pdb
*.ipdb
*.log
*.vspscc
*.vssscc

# NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Others
~$*
*~
*.tmp
*.tmp_proj
*.log